* {
  padding: 0;
  margin: 0;
}
#container {
  width: 300px;
  padding: 5px;
}
input {
  display: inline;
  margin: 0;
  padding: 0;
}
#contacts {
  margin-top: 10px;
  /* border-top: 1px solid #888; */
  max-height: 200px;
  overflow: auto;
  counter-reset: contacts 0;
}
.contact {
  padding: 5px;
  border-top: 1px solid #888;
}
.contact span {
  display: inline-block;
}
span.name:before {
  counter-increment: contacts 1;
  content: counter(contacts, decimal) ". ";
  color: #08C;
}
.name {
  width: 25%;
}
.number {
  width: 50%;
}
.button {
  width: 18%;
}
