* {
  padding: 0;
  margin: 0;
}
#container {
  width: 300px;
  padding: 5px;
}
input {
  display: inline;
  margin: 0;
  padding: 0;
}
#contacts {
  margin-top: 10px;
  /* border-top: 1px solid #888; */
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  counter-reset: contacts 0;
}
.contact {
  padding: 5px;
  border-top: 1px solid #888;
  position: relative;
  left: 0;
  bottom: 0;
  width: 600px;
}
.contact span {
  display: inline-block;
}
span.name:before {
  counter-increment: contacts 1;
  content: counter(contacts, decimal) ". ";
  color: #08C;
}
.name {
  width: 75px;
}
.number {
  width: 150px;
}
.button {
  width: 50px;
}
.text {
  width: 56px;
}
.text-form {
  display: inline-block;
  margin-left: 15px;
}
