<div class='contact'>
  <span class='name'>{{name}}</span>
  <span class='number'>{{number}}</span>
  <button class='button text'>Text</button>
  <form class='text-form'>
    <label>To <span class='to'>{{name}}</span>:
      <input class='text-body' type='text'>
    </label>
    <input type='submit' value='Send'>
  </form>
</div>
