<div class='contact'>
  <span class='name'>{{name}}</span>
  <span class='number'>{{number}}</span>
  <button class='button text'>Text</button>
</div>
<form class='text-form'>
  <label for='text-body'>To {{name}}:</label>
  <input id='text-body' type='text'>
  <input type='submit' value='Send'>
</form>
