<div class='contact'>
  <span class='name'>{{name}}</span>
  <span class='number'>{{number}}</span>
  <button class='button btn text'>Text</button>
  <form class='form-inline text-form'>
    <label>To <span class='to'>{{name}}</span>:
      <input class='input-medium text-body' type='text'>
    </label>
    <input class='btn btn-primary' type='submit' value='Send'>
  </form>
</div>
